body{
    background-image: url("backgroud.png");
    background-repeat: no-repeat;
    background-position: center;
}
.search input {
    float: right;
    padding: 10px 10px;
    border-radius: 5px;
    border: 2px solid #939393;
    font-size: 15px;
    width: 70%;
}
@media(max-width:576px){
    .container-fluid{
        width: 95%;
    }
}
@media(min-width:576px) and (max-width:768px){
    .container-fluid{
        width: 95%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .container-fluid {
        width: 95%;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        width: 95%;
    }
}
@media (min-width: 1200px) {
    .container-fluid {
        width: 100%;
    }
}
.scrollmenu > .row {
  overflow: auto;
  white-space: nowrap;
}
.scrollmenu > .row :hover {
    background-color: lightgrey;
}
.line{
	border: 2px groove whitesmoke;
}
p{
    font-size: 18px;
    font-family: inherit;
}
h1{
    font-size: 70px;
    color: whitesmoke;
}
h2,h3{
    color: white;
}


